@model List<PassionProject_SusanBoratynska.Models.Team>

@{
    ViewBag.Title = "List";
}

<h2>List of Teams</h2>
<div class="navbar">
    <a href="/Team/Add" class="btn btn-default">Add New Team</a>
    <form action="/Team/List" method="GET" id="checkbox-filter" class="float-top-right">
        <span class="show-label">Filter by Division:</span>
        <label for="men" class="unbold">Men's</label>
        <input type="checkbox" class="form-check-input check-space" name="men" value="Men" onchange="this.form.submit()">
        <label for="women" class="unbold">Women's</label>
        <input type="checkbox" class="form-check-input check-space" name="women" value="Women" onchange="this.form.submit()">
        <label for="women" class="unbold">All</label>
        <input type="checkbox" class="form-check-input check-space" name="all" value="All" onchange="this.form.submit()">
    </form>
</div>

<form action="/Team/List" method="GET" class="float-top-right">
    <input type="text" name="searchkey" id="searchkey" placeholder="Enter Team Name or City" class="btn btn-default search-input" />
    <input type="submit" value="Search" class="btn btn-default" />
</form>

<table class="table"style="width:100%">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Team Name</th>
            <th scope="col">Location</th>
            <th scope="col">Division</th>
        </tr>
    </thead>
    @foreach (var team in @Model)
    {
        <tr>
            <td><a href="/Team/Show/@team.teamID" class="show-label">@team.name</a></td>
            <td>@team.city, @team.state</td>
            <td>@team.division</td>
        </tr>
    }
</table>
